<!-- item do menu -->
<div id="itemsMenu" class="menu blue">
    <button class="blue-800 full" onclick="openPage('')"><i class="icon ion-briefcase"></i> Vagas</button>
    <button class="blue-800 full" onclick="openPage('')">Open page 2</button>
    <button class="blue-800 full" onclick="openPage('')">Open page 3</button>
</div>

<!-- items popover -->
<div class="popover" id="pop"></div>

<!-- header menu -->
<div class="header text-white blue">
    <div class="left">
        <button class="icon ion-navicon-round" onclick="openMenu('itemsMenu')"></button>
    </div>
    <h1> Principal </h1>
    <div class="right">
        <button class="icon ion-search"></button>
        <button class="icon ion-android-more-vertical" onclick="include('pop', 'components/menu/pophover')" onclick="openPopover('pop')"></button>
    </div>
</div>
